body{
    font-family: 'Sf-Pro Regular', sans-serif;
}

.jumbotron{
    background-color: white;
}

.makeout{
    background-color: transparent;
    color: white;
    font-size: 25px;
  }
  .makeout:hover{
    color: white;
    text-decoration: none;
  }