{% extends "base.html" %}

{% block title %}
  shop
{% endblock title %}

{% block content %}

<section class="mt-5 jumbotron text-center">
    <div class="container mt-5">
      <h1 style="font-family: 'SF-Pro Bold', sans-serif; color: black;">Last Arrivals</h1>
      <p class="lead text-muted">By default our algorithm sorts the products by the last-added property so if you are window shopping just keep diving for older product also if you need something specific you can use the search form above.</p>
      <p>
        {% if request.user.is_staff %}
        <a href="{% url 'shop:create' %}" class="btn btn-primary">Create Product</a>
          {% else %}
          <p>Are you a new customer?</p>
          <a href="#" class="btn btn-info">Create Account</a>
        {% endif %}
      </p>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">

      <div class="row">
        {% for product in object_list  %}
          
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <img src="{{product.imageURL}}" width="288px" height="288px"/>            
            <div class="card-body">
              <p class="card-text mt-2" style="color: black; font-family: 'SF-Pro Bold', sans-serif; font-size: 25px;">{{product.name}}</p>
              <p class="card-text" style="color: black;">{{product.description}}</p>
              <p class="card-text mt-2" style="color: black; font-family: 'SF-Pro Bold', sans-serif;">{{product.price}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#"><button type="button" class="btn btn-sm btn-outline-dark">Details</button></a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-success" style="font-family: 'SF-Pro Rounded', sans-serif;">{{product.created_at}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
      <br>
      <div class="pagination d-flex justify-content-center" style="margin: 10px;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="ml-2"> previous</a>
            {% endif %}
    
            <span class="current mr-2 ml-2">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="mr-2">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}"> last &raquo;</a>
            {% endif %}
            </span>
    </div>
  </div>
  
{% endblock content %}